h1,
h2,
a,
p {
  text-align: center;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
}

a {
  color: Aquamarine;
  font-size: 16px;
}

h2 {
  font-family: verdana;
  font-weight: 300;
  font-size: 42px;
}

#copyright {
  text-align: right;
  color: gray;
  
}
