/*backround and text align for whole page*/
html {
  background-color: black;
  text-align: center;
}

/*text styles*/

.standard{
  font-family: verdana;
  font-size: 21px;
  color: gray;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
}

.links {
  color: Aquamarine;
  font-size: 16px;
  text-decoration: underline;
}

h2 {
  font-family: verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}

video {
  object-fit: contain;
}

/*last part*/
#copyright {
  text-align: right;
  color: gray;
}
